@import url(https://db.onlinewebfonts.com/c/e659e9c4fcee36a9ee6b81b490e48058?family=HelveticaNeueLT+W20+75+Bold);

.home {
    font-family: 'Arial', sans-serif;
    position: relative;
    overflow: hidden;
}

h1{
    font-family: 'HelveticaNeueLT W20 75 Bold';
    color: #222E50;
    font-size: 96px;
    font-weight: 400;
    line-height: 144px;
    letter-spacing: 0em;
    text-align: center;

}

.banner {
    background-color: rgb(255, 255, 255);
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
}

.banner::before {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 200%;
    height: 100%;
    border-radius: 50%;
    background-color: #222E50;
    z-index: -1;
}

.image-container {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.home-image {
    max-width: 100%;
    height: auto;
}

.footer {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}
