@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
@import url(https://db.onlinewebfonts.com/c/e659e9c4fcee36a9ee6b81b490e48058?family=HelveticaNeueLT+W20+75+Bold);

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #00BD9D;
    padding: 20px;
}

.navbar-section {
    display: flex;
    align-items: center;
}

.navbar-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

body {
    font-family: 'HelveticaNeueLT W20 75 Bold';
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;

}

.navbar-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
